body {
	height: 100%;
	margin: 0;
}

.background {
	background-color: #FFA7E3;
	background-image: url('../img/background.png');
	background-repeat: repeat;
	background-size: cover;
	position: fixed;
	z-index: -9;
	width: 100%;
	height: 100%;
}

#wrapper {
	padding-top: 50px;
}

#content {
	width: 500px;
	padding: 20px;
	margin-top: 40px;
	background-color: rgba(255, 255, 255, .8);
	margin: 0 auto;
}

#content h1 {
	font-family: Arial;
	color: black;
}

table {
	width: 100%;
}

h1 {
	color: white;
	font-size: 48pt;
	text-align: center;
	font-family: "hwt-american-chromatic";
	font-weight: normal;
}

#menu {
	list-style: none;
	padding: 0;
	text-align: center;
	width: 100%;
	height: 50px;
	margin-bottom: 40px;
}

#menu ul {
	position: relative;
	margin: 0;
	padding: 0;
	padding-top: 20px;
}

#menu ul li {
	display: inline-block;
	font-family: sans-serif;
	margin-right: 30px;
	margin-left: 30px;
}

#menu a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing:1px;
}

#menu a:after {
	content: "";
	background-repeat: no-repeat;
	background-size: 100%;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: -20px;
}

.start:after {
	background-image: url('../img/home.png');
}

.donuts:after {
	background-image: url('../img/donut.png');
}

.delivery:after {
	background-image: url('../img/delivery.png');
}

.about:after {
	background-image: url('../img/user_icon.png');
}

.contact:after {
	background-image: url('../img/contact_icon.png');
}

form {
	width: 300px;
	margin: 20px auto;
}

form input, form textarea {
	width: 175px;
	float: right;
}

@media screen and (max-width: 620px) {

	.background {
		background-image: url('../img/background.png');
	}
}